<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>WebSite</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<!-- <servlet> <servlet-name>Login</servlet-name> <servlet-class>Login.java</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>Login</servlet-name> <url-pattern>/WebSite/Login</url-pattern> 
		</servlet-mapping> <servlet> <servlet-name>LoginCl</servlet-name> <servlet-class>LoginCl.java</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>LoginCl</servlet-name> <url-pattern>/WebSite/LoginCl</url-pattern> 
		</servlet-mapping> <servlet> <servlet-name>Main</servlet-name> <servlet-class>/WebSiteMain.java</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>Main</servlet-name> <url-pattern>/WebSite/Main</url-pattern> 
		</servlet-mapping> <servlet> <servlet-name>Signup</servlet-name> <servlet-class>Signup.java</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>Signup</servlet-name> <url-pattern>/WebSite/Signup</url-pattern> 
		</servlet-mapping> <servlet> <servlet-name>SignupCl</servlet-name> <servlet-class>SignupCl.java</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>SignupCl</servlet-name> <url-pattern>/WebSite/SignupCl</url-pattern> 
		</servlet-mapping> <servlet> <servlet-name>Welcome</servlet-name> <servlet-class>Welcome.java</servlet-class> 
		</servlet> <servlet-mapping> <servlet-name>Welcome</servlet-name> <url-pattern>/WebSite/Welcome</url-pattern> 
		</servlet-mapping> -->
</web-app>